@import "bootstrap/dist/css/bootstrap.min.css";
.style{
    background-image:linear-gradient(to right,yellow,pink,red,blue,green);
    color:white;
    text-align:center;

}
.align{
    text-align:center ;
}
.list-group-item{
    margin-bottom:6px;
background-color: lightyellow;

}
.form-control{
    background-color: rgba(239, 235, 235, 0.915);
}
.form-control:hover{
    box-shadow:0px 0px 3px 2px rgb(230, 230, 3);
    background-color:yellowgreen;
}

.background-color-1 {
    background-color: lightblue;
}

.background-color-2 {
    background-color: lightgreen;
}

.custom-background:hover{
    box-shadow:0px 0px 3px 2px red;
}
.custom-background{
    box-shadow:0px 0px 3px 2px lightgray;
    border-radius:5px;
    border:0px;
    margin-bottom:9px;
}










