button{
    background-color:red;
    color:white;
    border-radius:5px;
    width:auto;
    margin-bottom:7px;
    margin-right:7px;
}
.add{
    color:white;
    background-color:blueviolet;
    border-radius: 5px;
    border:0;
    margin-left:7px;
    width:3rem;
    height:2rem;
}
.add:hover{
    box-shadow:0px 0px 3px 2px lightgray;
    transform:scale(1.1);
}
.li_items{
    list-style:none;
    background-color:lightyellow;
    margin-bottom:7px;
    width:auto;
    box-shadow:0px 0px 5px grey; 
    border-radius:7px;
}

li{
list-style-type:none;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:40px;
}
#align{
    align-self:flex-end;
    
}

.linear-grad{
    background-image:linear-gradient(to right,lightblue,yellow,red,pink,blue ,green,powderblue);
    color:white;
    font-size:75px;
    text-align:center;
    width:fit-content;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-bottom:13px;

}
 
@media screen and (max-width:680px){
    .linear-grad{
        font-size:44px;

    }
}



.delete{
    margin-left:7px;
    border:0;
}
.delete:hover{
    background-color:darkred;
    box-shadow: 0px 0px 3px 1px lightgrey;
    transform:scale(1.1);
}
.align-input{
    text-align:center;
    display:flex;
    justify-content:center;
}
.items-input{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
input{
    width:700px;
    background-color:lightgrey;
    color:red;
    border:1px;
}
.touch-input{
    width:700px;
    height:2rem;
    background-color:lightgray;
    color:red;
    box-shadow:0px 0px 3px 2px green;
   
}
.touch-input:hover{
    transform:scale(1.3);
}
.li-itemstouch{
    box-shadow: 0px 0px 3px 1px grey;
    margin-bottom:5px;
    border-radius:3px;
   
}
@media screen and (max-width:576px){
    .li-itemstouch{
     width:300px;
    }
    .touch-input{
        width:335px;
        
    }

}

@media screen and (min-width:750px){
    .li-itemstouch{
        width:600px;
        margin-left:300px;
       }
       .touch-input{
           width:600px;
           margin-left:300px;
       }
.align-input{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
.li-itemstouch{
    align-self:center;
}
       
}
.li-itemstouch:hover{
    box-shadow:0px 0px 3px red;
    color:darkred;
    /* -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0); */
    transform: scale(1.3); 
}

@media screen and (max-width:800px){
    .li_items{
        width:700px;
    }
}

@media screen and (max-width:576px){
    .li_items{
        width:300px;
    }
}
@media screen and (max-width:760px){
    .li_items{
        width:300px;
    }
    input{
        width:300px;
    }
}

@media screen and (min-width:800px){
    .li_items{
        width:750px;
         margin-left:300px;
    }
    input{
        width:680px;
    }
}

